

.root {
    @apply relative;
    max-height: 100% !important;
    &:hover {
        & .productBg:before {
            transform: scale(0.99);
        }

        & .productImage {
            transform: scale(1.05);
        }
    }

    &:nth-child(6n + 1) .productBg {
        @apply bg-violet-500;
    }
    &:nth-child(6n + 3) .productBg {
        @apply bg-pink-500;
    }
    &:nth-child(6n + 5) .productBg {
        @apply bg-blue-500;
    }
    &:nth-child(6n + 6) .productBg {
        @apply bg-yellow-500;
    }
}

.productImage {
    @apply transition-transform duration-500 block;
}

.productBg {
    @apply absolute inset-0 z-0;
    background-color: #212529;

    &:before {
        @apply transition ease-out duration-300 block w-full h-full bg-repeat-space ;
        content: "";
        background-image: url("/images/product-pattern-bg.svg");
    }
}

.productTag {
    @apply absolute left-0 z-20 pt-8 space-y-4;

    & span {
        @apply bg-white rounded-br-md;
    }

    & > * { 
        display: block;
        font-size: 2rem;
        letter-spacing: 0.4px;
    }
}

.productTitle {
    @apply font-bold text-black;
    line-height: 2.2px;

    & span {
        @apply py-4 px-6;
    }
}

.productPrice {
    @apply pb-4 pt-2 px-6 font-semibold text-gray-600;
    font-size: 1.2rem;
}