@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind css 自作スタイル */

body {
    margin:0;
}
a {
    text-decoration:none;
}

@layer components {
    .fit {
        min-height: calc(100vh - 88px);
    }
}